extends layout

block content
    .jumbotron-index.text-center
        .container
            .row
                .col.col-lg-12.col-sm-12
                    h1 Evolutionary Algorithms
                    .row
                        .col.col-lg-12.col-sm-12
                            p
                                a(href='/programs').btn.btn-primary.btn-block.btn-large.jumbo-btn Programs